{% extends 'app_quezada_lopez/base.html' %}

{% block contenido %}

{% load static %}

<style>

   
#customers button {
    width: 100%;
}

.container2 #new1 {
    background-color: #007bff;       
    border-radius: 5px;
    padding: 8px;
    color: white;
}

h1 {
    color: white;
}


.container2 {
margin: 0px;
padding: 0px 100px 100px 100px; 
background: #0a122a;
color:white;

}

</style>
<body>
    <div class="container2">
        <h1>Actualizacion</h1>
        <form action="{% url 'actualizarrec' pro.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">nombre del producto</label><br><br>
            <input type="text" name="nombre_produ" value="{{pro.nombre_produ}}"><br><br>
            <label for="">descripcion</label><br><br>
            <input type="text" name="descripcion" value="{{pro.descripcion}}"><br><br>
            <label for="">valor</label><br><br>
            <input type="text" name="valor" value="{{pro.valor}}"><br><br>
            <label for="foto">Foto</label><br><br>
            {% if pro.foto %}
                <img src="{{ pro.foto.url }}" alt="Imagen actual" height="100px" width="100px">
            {% endif %}            
            <input type="file" name="foto" id="new">
            <label for="new"></label>
            <br><br><br>
            <button type="submit" id="new1">actualizar</button>
        </form>

    </div>
</body>
</html>
{% endblock %}

