{% extends 'app_quezada_lopez/base.html' %}

{% block contenido %}

{% load static %}

<style>

   
   #customers button {
       width: 100%;
   }
   
   .container1 #new {
       background-color: #007bff;       
       border-radius: 5px;
       padding: 8px;
       color: white;
   }
   
   h1 {
       color: white;
   }
   
  
   .container1 {
    margin: 0px;
    padding: 0px 100px 100px 100px; 
    background: #0a122a;
    color:white;

   }
   
   .file-input {
       display: none;
   }
   
   .custom-file-upload {
       display: inline-block;
       background-color: #007bff;
       color: white;
       border: none;
       padding: 8px;
       border-radius: 5px;
       cursor: pointer;
   }

</style>
<body>
    <div class="container1">
        <h1>Agregar Producto Nuevo</h1>        
        <form action="{% url 'agregarrec' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="nombre_produ">Nombre del producto</label><br><br>
            <input type="text" name="nombre_produ"><br><br>
            <label for="descripcion">Descripcion</label><br><br>
            <input type="text" name="descripcion"><br><br>
            <label for="valor">Valor</label><br><br>
            <input type="text" name="valor"><br><br>
            <label for="foto">Foto</label><br><br>
            <input type="file" name="foto" id="new"><br><br><br>
            <button type="submit" id="new">Agregar</button>
        </form>
    </div>
</body>
</html>
{% endblock %}