{% extends 'app_quezada_lopez/base.html' %}

{% load static %}
{% block contenido %}



<div class="alert alert-primary" role ="alert">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="row" colspan="3" class="text-center">CARRITO</th>
        </tr>

       </thead>
       <tbody>
        {% if request.session.carrito.items %}
        {% for key, value in request.session.carrito.items %}
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">VALOR UNITARIO</th>
            <!--<th scope="col">FOTO</th>-->
            <th scope="col">CANTIDAD</th>            
            <th scope="col">SUBTOTAL</th>

        </tr>
            <tr>
                <td>{{value.nombre}}</td>
                <td>$ {{value.valor}}</td>
                <td>{{value.cantidad}}</td>                
                <td>$ {{value.acumulado}}
                    <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                    <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
         <tr>
            <td colspan="3">
                
                <img src="{% static 'app_quezada_lopez/imagenes/sincompras.jpg' %}" alt="Imagen actual" height="140px" width="140px">
                <div class="alert alert-danger text-center">Sin Productos lo estamos redireccionando a pagina de tienda</div>
                <script>
                    setTimeout(function() {
                        window.location.href = "{% url 'mantenedor' %}";
                    }, 5000);
                    </script> 
            </td>
         </tr>   
         {% endif %}
         <div>  
            <tr>
                <td></td>
                <td></td>
                <th scope="row">Total a pagar: </th>
                <td colspan="2">$ {{total_carrito}}</td>
            </tr>
         </div> 
        </tbody>
</table> 
<hr>
</div>
<div class="row text-center">
    <div class="col-3"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
    <div class="col-3"><a href="{% url 'mantenedor' %}" class="btn btn-danger">Seguir Comprando</a></div>
    <div class="col-3"><a href="{% url 'pagar' %}" class="btn btn-danger">Pagar</a></div>
</div>

{% endblock %}
