{% extends 'app_quezada_lopez/base.html' %}

{% block contenido %}

{% load static %}
    
<title>Servicios</title>



    <!--Primera Seccion-->
    <section class="contenedor">
        <br>
        <h1>Servicios</h1>
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servmanten.jpg' %}" alt="">
                <h3>Mantención</h3>
            </div>
            <div class="face back">
                <h4>Servicio Mantencion</h4>
                <p>Mantención de auto por Kilometraje bajo los estándares que indica cada fabricante. Contamos con el personal capacitado para realizar las mantenciones periódicas de cada vehículo.</p>
            </div>
        </div>
    </div>
        
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servfrenos.jpg' %}" alt="">
                <h3>Frenos</h3>
            </div>
            <div class="face back">
                <h4>Servicio Frenos</h4>
                <p>Somos capaces de realizar desde una simple regulación de frenos hasta servicios de mantención automotriz de frenos mas complejos como rectificados o cambios de sensores. Cotiza tu servicio con Fullmantenciones.</p>
            </div> 
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servaceite.jpg' %}" alt="">
                <h3>Cambio de Aceite</h3>
            </div>
            <div class="face back">
                <h4>Servicio Cambio de Aceite</h4>
                <p>Contamos con los mejores aceites del mercado, de calidad mineral, semi-sintetico y full sintéticos, además de filtros y aditivos de excelente calidad. Realizamos el procedimiento de mentención en pocos minutos.</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servkit.jpg' %}"  alt="">
                <h3>Kit de Embragues</h3>
            </div>
            <div class="face back">
                <h4>Servicio Kit de Embragues</h4>
                <p>¿Problemas con las mantenciones de la caja de cambios? En Fullmantenciones, sea mecánica o automática la reparamos en tiempo record a un precio record. Cotiza con nosotros tu servicio de mantención de auto garantizado de mantención automotriz.
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servmeca.jpg' %}" alt="">
                <h3>Mecanica General</h3>
            </div>
            <div class="face back">
                <h4>Servicio Mecanica General</h4>
                <p>¿Check Engine prendido? Visitanos y con nuestros Scanner de ultima generación te damos el diagnostico de tu vehículo. A su vez te daremos la solución más económica en mantención para tu auto.</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servsusp.jpg' %}" alt="">
                <h3>Suspensión</h3>
            </div>
            <div class="face back">
                <h4>Servicio Mantención de suspensión</h4>
                <p>¿Cambio de Amortiguadores? ¿Cambio de bandejas o de rótulas? Todo eso y mas, realizamos en Fullmantenciones. Cotiza el servicio de mantención de suspensión con nosotros.</p>
            </div>
         </div>
                    
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servadb.jpg' %}" alt="">
                <h3>Llenado de adBlue</h3>
            </div>
            <div class="face back">
                <h4>Servicio Llenado de adBlue</h4>
                <p>El Adblue es un sistema de depuración de gases imprescindible en los actuales motores diésel para proteger el medio ambiente elaborado mediante una disolución de urea. Si quiere llenar el de su auto, consúltenos el servicio de mantención.</p>
            </div>
         </div>
                                       
        <div class="card">
            <div class="face front">
                <img src="{% static 'app_quezada_lopez/imagenes/servscan.jpg' %}" alt="">
                <h3>Scanner</h3>
            </div>
            <div class="face back">
                <h4>Servicio de Scanner automotriz</h4>
                <p>Scanner automotriz una herramienta empleada en el diagnóstico de las fallas o problemas de todos los componentes eléctricos registradas de tu auto.</p>
            </div>
        </div>
    </section> <!--Termino Primera seccion-->

{% endblock %}